html {
    background: white;
}

body {
    font-family: 'Arial Narrow Bold', Helvetica, sans-serif,"Trebuchet MS";
}

.header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:  rgb(255, 255, 255);
    background: rgb(150, 0, 0);
    border-radius: 15px;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
    letter-spacing: .1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 60px;
    line-height: 75px;
}

.subtitle {
    font-style: italic;
    font-size: 20px;
    line-height: 25px;
}

.header_right {
    display: inline-block;
}

.nav_link {
    padding: 10px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    color: rgb(150, 0, 0);
    text-decoration: none;
    font-size: 15px;
}

.nav_link:active {
    color: rgb(150, 0, 0);
}

.program_listing {
    padding: 5px;
    border-radius: 25px;
    border-color: rgb(150, 0, 0);
    border-width: 5px;
    border-style: solid;
    margin-bottom: 10px;
}

.program_page {
    padding-left: 15px;
    border-radius: 25px;
    border-color: rgb(150, 0, 0);
    border-width: 5px;
    border-style: solid;
}

.upload_body {
    padding: 15px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.upload_form_header {
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    width: fit-content;
    border-bottom: 3px solid rgb(150, 0, 0);
    margin-bottom: 25px;
}

.upload_form_field_label {
    font-style: italic;
}