{% extends "base.html" %}
{% block content %}
<div>
    {% for program in all_programs %}
        <div class="program_listing">
            <a href="{% url 'program_detail' program.id %}">
                <h3>{{ program.program|capfirst }}</h3>
            </a>

            {% if program.version %}
            <p> Version: {{ program.version }} </p>
            {% endif %}

            {% if program.date %}
            <p> Date: {{ program.date|date:"M Y"  }} </p>
            {% endif %}

            <p> Authored by: {{ program.username }} </p>
        </div>
    {% endfor %}
</div>
{% endblock %}